.btn{
}
/* Un bloque que ocupe toda la pantalla y contendrá nuestra modal... */
#modalContent{
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 6;
    margin: -2% 0px 0px -150px;
    float: left;
    width: 40%;
    color: black;
    line-height: 22px;
    padding: 15px;
    border-radius: 5px;
    background: #EAEAEA;
    border: 1px solid #fff;
    box-shadow: 0px 2px 1px #999;
    height: 55%;
}
/* ... los estilos de la ventana central ... */
#gmodal{
   position:fixed;
   top:0px;
   left:0px;
   z-index:5;
   float:left;
   width:100%;
   height:100%;
   background:rgba(0, 0, 0, 0.5);
   display:none;
   opacity:0;
}
/* ... y un ‹a› transparente que ocupa todo el espacio para poder cerrar la modal desde cualquier punto */
#gmodal > a{
   position:fixed;
   top:0px;
   left:0px;
   z-index:1;
   float:left;
   width:100%;
   height:100%;
}

:target{
   display:block!important;
   opacity:1!important;
}
/* Un botón de cerrar para no despistar al usuario */
#modalContent > a{
    top: 18px;
    right: 21px;
    border-radius: 2px;
    background: #fff;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: Roboto,Arial,sans-serif;
    -moz-user-select: none;
    font-size: 11px;
    background-color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    min-width: 28px;
    font-weight: 500;
}

#modalContent > a:hover{
    top: 18px;
    right: 21px;
    border-radius: 2px;
    background: #fff;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: absolute;
    color: rgb(0, 0, 0);
    font-family: Roboto,Arial,sans-serif;
    -moz-user-select: none;
    font-size: 11px;
    background-color: rgb(235, 235, 235);
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    min-width: 28px;
    font-weight: 500;
}

/*Centrar el mapa completamente*/
#map{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

/*
$(document).ready(function () {
                        $(".showMap").click(function () {
                            //var idLocal= $(this).attr("idLocal");
                            var direccion = $(this).attr("direccion");
                            //var direccion = "stucom, barcelona";
                            $('#map').gmap3({
                                options: {
                                    zoom: 10
                                }
                            })
                                    .infowindow({})
                                    .marker([
                                        {address: direccion, data: "<h3>" + direccion + "</h3><div>"}
                                    ])
                                    .on('click', function (marker) {  //Al clicar obrim una finestra sobre la marca i hi insertem el data de la marca
                                        marker.setIcon('http://maps.google.com/mapfiles/marker_green.png');
                                        var map = this.get(0); //this.get(0) retorna la primera propietat vinculada-> gmap3
                                        var infowindow = this.get(1); //this.get(1) retorna la segona propietat vinculada -> infowindow
                                        infowindow.setContent(marker.data);     //dins la finestra mostrem el atribut data de la marca
                                        infowindow.open(map, marker);
                                    })
                                    .fit();
                        });
                    });
*/