.padre{
    display: inline-block;
    width: 100%;
    border-width: 1px;
    border-color: blue;
    border-style:solid;
    background-color: white;
    padding-bottom: 55px;
}

#formregistro{
    padding-left: 3%;
    display: inline-block;
    text-align: left;
    width: 45%;
    float: left;    
}

#inicio{    
    display: inline-block;
    text-align: left;
    width: 45%;
    vertical-align: top;
    float: right;
    padding-right: 3%;
}

#localreg{
   padding-left: 1%;
    display: inline-block;
    text-align: left;
    width: 32%;
    float: left; 
}

#artistareg{
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    text-align: left;
    width: 32%;
    vertical-align: top;    
}

#fanreg{
    display: inline-block;
    text-align: left;
    width: 32%;
    vertical-align: top;
    float: right;
    padding-right: 1%;
}

.lab1{
   text-align: right;
   padding-right: 3px;
}

.lab2{
   text-align: right;
   padding-right: 3px;
}

.inp1{
   display: block;
   width: 80%;
   text-align: center;
}

.inp2{
   display: block;
   width: 80%;
   text-align: center;
}

input{
  border: 1px solid #999;
  border-radius: 5%;
}

h4{
    text-align: center;
    border-radius: 5%;
    border-bottom: solid;
    border-color: blue;
    font-family: sans-serif; 
}

section form{
    text-align: center;
}

section form div{
    text-align: center;
    padding-left: 15%;
}

.padre>*{
    font-family: sans-serif;
}

.radioreg{
    margin-top: 1%;
    margin-right: 2%;
    display: inline-block;
    padding: 0;
}
