#form-container {
	padding: 0 0 15px 0;
}

#form-container h2 {
	font-weight: normal;
	padding-left: 14px;
}

.form-profile h2 span {
	margin-right: 8px;
}

.form-row {
	border-top: 1px solid #ddd;
	width: 100%;
}

.form-row label {
	display: inline-block;
	width: 20%;
	text-align: right;
	color: #6f6f6f;
	font-weight: bold;
	padding: 12px 10px;
	line-height: 30px;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	white-space: nowrap;
}

.form-row:last-child label {
	border-right: 0;
}

.input-wrap {
	position: relative;
	vertical-align: baseline;
	width: 80%;
	padding: 12px;
}

.input-wrap input[type="text"],input[type="email"],
input[type="password"],input[type="url"], select {
	font-family: inherit;
	font-size: inherit;
	padding: 5px 10px;
	border: 1px solid rgba(0,0,0,0.3);
	box-sizing: border-box;
	width: 100%;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.input-wrap select {
	padding: 5px 6px;
}

.input-wrap input[type="text"]:focus,input[type="email"]:focus,
input[type="password"]:focus,input[type="url"]:focus, 
select:focus {
	border: 1px solid #4cb1ff;
	background-color: #fff;
}

span.error {
	position: absolute;
	top: 48px;
	left: 12px;
	font-size: 12px;
	padding: 6px 8px;
	z-index: 10;
	background: #efe7e3;
	border: 1px solid #f58484;
	border-radius: 3px;
}

span.error:after, span.error:before {
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	
}

span.error:after {
	border-color: rgba(213, 200, 205, 0);
	border-bottom-color: #efe7e3;
	border-width: 5px;
	margin-left: -5px;
}

span.error:before {
	border-color: rgba(245, 132, 132, 0);
	border-bottom-color: #f58484;
	border-width: 6px;
	margin-left: -6px;
}



/* 
-----------------------------------------------------------------------------

  OVERLAY
  
----------------------------------------------------------------------------- 
*/

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: #000;
	opacity: 0;
	z-index: 100;
	transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s ease-in-out;
}

.has-active-menu #overlay, 
.has-active-modal #overlay {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
}

/* 
-----------------------------------------------------------------------------

  MODAL 
  
----------------------------------------------------------------------------- 
*/

body.has-active-menu, 
body.has-active-modal {
	overflow: hidden;
} 

#modal-container {
	display: none;
	position: fixed;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -20%);
	z-index: 110;
}

#modal-container.visible {
	display: block;
} 

#modal-content {
	display: block;
	width: 600px;
	position: relative;
	background-color: #fff;
	border-radius: 6px; 
}

#modal-header {
	display: block;
	border-bottom: 1px solid #ddd;
	border-radius: 6px 6px 0 0;
	padding: 8px;
}

#modal-header h3 {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	color: #8899a6;
	margin-left: 10px
}

#modal-content p {
	text-align: center;
	padding: 8px;
}

#modal-footer {
	display: block;
	border-top: 1px solid #ddd;
	border-radius: 0 0 6px 6px;
	padding: 15px;
	font-size: 14px;
	color: #8899a6;
	text-align: right;
}

.btn-close {
	position: absolute;
	right: 10px;
	top: 9px;
	width: 20px;
	height: 20px;
	padding: 0;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid transparent;
	color: #8899a6;
}



@media screen and (max-width: 1080px) {
	#form-container {
		border-bottom: 1px solid rgba(0,0,0,0.2)
	}

	.form-row {
		border-top: 0;
	}

	.form-row label {
		border-right: 0;
		padding: 10px 10px 0 10px;
		line-height: 18px;
		text-align: left;
	}
	
	.input-wrap {
		width: 100%;
		padding: 3px 10px 8px 10px;
	}

	.form-row:last-child {
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	#modal-container {
		width: calc(100% - 20px);
	}

	#modal-content {
		width: 100%;
	}
}
