body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial,sans-serif;
    font-size: 14px;
}

#topbar {
	position: fixed;
	top: 0;
	right: 0;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
	width: 100%;
	height: 45px;
        display: inline-block;
}

#intranetMenu {
	display: inline-block;
	width: 1020px;
	margin: 0 auto;
	padding: 3px 5px
}

#intranetMenu img {
	height: 38px;
	width: auto;
        display: inline-block;

}

#buscador {
	position: relative;
	top: 4px;
	left: 15px;
        display: inline-block;
        vertical-align: top;
}

#buscador input:first-child {
	width: 240px;
	height: 25px;
	padding: 0 5px;
	margin-right: 5px;
        display: inline-block;
        vertical-align: top;
}

#buscador button {
	vertical-align: bottom;
        display: inline-block;
}

header>div{
    box-sizing: border-box;
}