#body {
	background-color: #e9ebee;
}

header {
	background-color: white;
	border-color: darkblue;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 10px;
	padding: 4px;
}

#logo {
	display: inline-block;
	width: 150px;
}

#buscador {
	display: inline-block;
	width: 200px;
	margin-top: 20px;
	margin-left: 40px;
	vertical-align: top;
}

#redes {
	display: inline-block;
	width: 170px;
	margin:5px;
	vertical-align: top;
}

#redes>a {
	margin: 4px;
}

#idioma {
	display: inline-block;
	width: 200px;
	margin-left: 40px;
	vertical-align: top;
	margin-top: 20px;
}

.validateMenu {
	display: inline-block;
	vertical-align: top;
}

.validateMenu>form {
	display: block;
}

.validateButton {
	display: inline-block;
	cursor: pointer;
	border-style: dashed;
	border-width: 1px;
	border-color: darkblue;
	padding: 4px;
}

div.validateButton:hover {
	background-color: #e9ebee;
}

.dropdownLogin {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#perfil {
	display: inline-block;
	width: 160px;
	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
	text-align: center;
	font-weight: bold;
	padding: 5px;
	background-color: white;

}

#centrado {
	display: inline-block;
}

#conciertos {
	display: inline-block;
	background-color: white;
	width: 850px;
	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
	vertical-align: top;
	margin-left: 5px;
}

#crearconcierto {
	margin: 5px;
}

#titlelistconcert {
	background-color: #3b5998;
	color: white;
	font-weight: bold;
	padding: 3px;
	padding-left: 15px;
	margin-bottom: 3px;
}

#list-conciertos {
	display: inline-block;
	width: 840px;
	margin: 5px;
}

.undecored {
	list-style-type: none;
	margin: 3px;
	padding: 3px;
	text-align: center;
}
#prox-conciertos {
	display: inline-block;
	background-color: white;
	width: 200px;
	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
	vertical-align: top;
	margin-left: 5px;
}

#titleproxconciertos {
	text-align: center;
	background-color: #3b5998;
	color: white;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 3px;
}
