
#topbar {
	position: fixed;
	top: 0;
	right: 0;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
	width: 100%;
	height: 45px;
}

#intranetMenu {
	display: block;
	width: 1020px;
	margin: 0 auto;
	padding: 3px 5px;
}

#intranetMenu img {
	height: 38px;
	width: auto;
}

#buscador {
	position: relative;
	top: 4px;
	left: 15px;
}

#buscador input:first-child {
	width: 240px;
	height: 25px;
	padding: 0 5px;
	margin-right: 5px;
}

#buscador button {
	vertical-align: bottom;
}

#userMenu {
	float: right;
}

#userMenu nav {
	height: 41px;
}

#userMenu div {
	height: 100%;
	padding: 10px 15px;
}

#userMenu a {
	color: black;
}

#userMenu div:hover {
	border-bottom: 3px solid #3b5998;
	color: #3b5998;
}